{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}

{% include 'partials/_header.html.twig' %}

<main>
    <div class="main-wrapper">
        <h1>{{ company.welcomeMessage }}</h1>
        <h2>{{ company.name }}</h2>
        <p>{{ company.slogan }}</p>
    </div>
</main>

{% include 'partials/_footer.html.twig' %}

{% endblock %}