{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
{% include 'partials/_header.html.twig' %}

<main>
    <div class="main-wrapper">
        <h1>Services</h1>

        <a href="{{ path('new_services') }}">Ajouter un service</a>
        <ul>
            {% for service in services %}
            <li>
                <h2>{{ service.title }}</h2>
                <p>{{ service.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>

{% include 'partials/_footer.html.twig' %}

{% endblock %}