{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!
{% endblock %}

{% block body %}
	{% include 'partials/_header.html.twig' %}

	<main>
		<div class="main-wrapper">
			<h1>Nos Services</h1>
			{% for service in services %}
				<p class="title">{{ service.name }}</p>
				<p class="content">{{ service.description }}</p>
			{% else %}
				<p class="title">Aucun service n'a été défini.</p>
			{% endfor %}
		</div>
	</main>

	{% include 'partials/_footer.html.twig' %}
{% endblock %}
