/*
 * Simple CSS reset
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*
 * Global settings
 */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333;
    color: antiquewhite;

    main {
        flex: 1;
    }
}

a {
    color: lightblue;
}

/*
 * NavBAr settings
 */

header {
    background-color: rgb(80, 80, 80);
    color: white;
    width: 100vw;
}

.menubar {
    font-size: 2rem;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem auto;

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;

        li {
            padding: 1rem;
            list-style-type: none;

            a {
                text-decoration: none;
            }

            .logo {
                height: 2.5rem;
                overflow: hidden;
            }
        }
    }
}

/*
 * Main settings
 */

main {}

.main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    margin: 2rem 0;
    font-size: 2rem;
}

h2 {
    margin: 1rem 0;
    color: lightcyan;
    font-size: 2rem;
}

p {
    margin: 1rem 0;
    font-size: 1.4rem;
}

.title {
    font-size: 1.5rem;
    color: antiquewhite;
}

.content {
    font-size: 1.2rem;
    color: #CCC;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.button {
    text-align: center;
    
    a {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        margin: 1rem 0;
        background-color: aquamarine;
        border-radius: 0.5rem;
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
    }

    a:hover {
        background-color: #44ffa7;
        transition: all 0.3s;
    }
}


/*
 * Footer settings
 */

footer {
    background-color: rgb(80, 80, 80);
    padding: 1rem 0;

    p {
        text-align: center;
    }

    ;
}

/*
 * Table CSS
 */

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 2rem;

    .button-small-warm,
    .button-small {
        background-color: lightgreen;
        padding: 0.4rem;
        color: black;
        border-radius: 0.2rem;
        text-decoration: none;
    }

    .button-small-warm:hover,
    .button-small:hover {
        background-color: #44ffa7;
    }

    .button-small-warm {
        background-color: lightsalmon;
    }

    .button-small-warm:hover {
        background-color: lightcoral;
    }

    thead {
        background-color: #654565;
    }

    tbody {
        tr:nth-child(2n) {
            background-color: #454545;
        }
    }
}

table,
th,
td {
    border: 1px solid;
}

td,
th {
    padding: 1rem;
}

th {
    text-align: left;
}

.ordering {
    display: flex;
    align-items: center;
}

/*
 * Forms CSS
 */

form>div {
    display: flex;
    flex-direction: column;
}

form>div>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    max-width: 1280px;
    margin: 0 auto;

    label {
        display: inline-block;
        margin-right: 1rem;
        width: 14rem;
    }

    input,
    select,
    textarea {
        margin: 0.5rem 0;
        width: 40rem;
        padding: 0.5rem;
    }

    textarea {
        resize: none;
    }

    button,
    input[type="submit"] {
        width: fit-content;
        padding: 1rem 2rem;
        background-color: lightsalmon;
        border: none;
        border-radius: 1rem;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    button:hover,
    input[type="submit"]:hover {
        background-color: lightcoral;
        cursor: pointer;
    }

    input[type="checkbox"] {
        width: fit-content;
    }

    .input-file-container {
        width: 40rem;
        display: inline-block;
        place-items: center;
        text-align: center;
        background-color: #2d274f;
        padding: 2rem 3rem;
        border-radius: 1rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    input[type='file'] {
        font-family: inherir;
        font-size: 1rem;
        color: #ccc;
        background-color: transparent;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    input[type="file"]::file-selector-button {
        background-color: #c789bc;
        color: #01072b;
        border: none;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        transition: background-color 0.3s ease;
        content: "";
    }

    input[type="file"]::file-selector-button:hover {
        background-color: hsl(311, 36%, 56%);
    }
}