/*
 * Simple CSS reset
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*
 * Global settings
 */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333;
    color: antiquewhite;

    main {
        flex: 1;
    }
}

a {
    color: lightblue;
}

/*
 * NavBAr settings
 */

header {
    background-color: rgb(80, 80, 80);
    color: white;
    width: 100vw;
}

.menubar {
    font-size: 2rem;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem auto;

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;

        li {
            padding: 1rem;
            list-style-type: none;

            a {
                text-decoration: none;
            }

            .logo {
                height: 2.5rem;
                overflow: hidden;
            }
        }
    }
}

/*
 * Main settings
 */

main {
}

.main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    margin: 2rem 0;
    font-size: 2rem;
}

h2 {
    margin: 1rem 0;
    color: lightcyan;
    font-size: 2rem;
}

p {
    margin: 1rem 0;
    font-size: 1.4rem;
}

/*
 * Footer settings
 */

footer {
    background-color: rgb(80, 80, 80);
    padding: 1rem 0;

    p {
        text-align: center;
    }

    ;
}