{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{% include 'partials/_header.html.twig' %}

<main>
    <div class="main-wrapper">
        <h1>Contact</h1>
    </div>
</main>

{% include 'partials/_footer.html.twig' %}

{% endblock %}